@media(max-width:992px){
    .features,
    .pricing{
        grid-template-columns:repeat(2,1fr);
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero img{
        width:80%;
    }

    .hero-text h1{
        font-size:48px;
    }

    .hero-buttons{
        justify-content:center;
    }
}

@media(max-width:768px){
    .navbar{
        padding:18px 6%;
    }

    .hamburger{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:78px;
        right:6%;
        width:230px;
        background:white;
        padding:28px;
        border-radius:22px;
        box-shadow:0 20px 45px rgba(15,23,42,0.18);
    }

    .nav-links.active{
        display:flex;
    }

    .dark .nav-links{
        background:#1e293b;
    }

    .features,
    .pricing{
        grid-template-columns:1fr;
    }

    .hero{
        padding:70px 6%;
    }

    .hero-text h1{
        font-size:38px;
    }

    .hero-text p{
        font-size:16px;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .hero img{
        width:100%;
    }

    .section{
        padding:70px 6%;
    }

    .section h2{
        font-size:34px;
    }
}